<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../../../output/classes -gen:server -f:rpcliteral -mapping jaxrpc-mapping.xml -keep config.xml
-->

<configuration
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

  <service name="TestService"
    targetNamespace="http://org.jboss.test.webservice/jbws632"
    typeNamespace="http://org.jboss.test.webservice/jbws632/types"
    packageName="org.jboss.test.webservice.jbws632">
    <interface name="org.jboss.test.webservice.jbws632.TestSEI"/>
  </service>

</configuration>

  <!-- BEGIN manual editing - ->
  <java-xml-type-mapping>
    <java-type>org.jboss.test.webservice.jbws632._arrays.java.lang.StringArrayArray</java-type>
    <root-type-qname xmlns:typeNS="http://org.jboss.test.webservice/jbws632/types/arrays/java/lang">typeNS:StringArrayArray</root-type-qname>
    <qname-scope>complexType</qname-scope>
  </java-xml-type-mapping>
  <java-xml-type-mapping>
    <java-type>org.jboss.test.webservice.jbws632._arrays.java.lang.StringArray</java-type>
    <root-type-qname xmlns:typeNS="http://org.jboss.test.webservice/jbws632/types/arrays/java/lang">typeNS:StringArray</root-type-qname>
    <qname-scope>complexType</qname-scope>
  </java-xml-type-mapping>
  <!- - END manual editing -->
