<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../../../output/classes -gen:server -f:rpcliteral -mapping jaxrpc-mapping.xml config.xml
-->

<configuration
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

  <service name="HelloService"
    targetNamespace="http://org.jboss.test.webservice/jbws124"
    typeNamespace="http://org.jboss.test.webservice/jbws124/types"
    packageName="org.jboss.test.webservice.jbws124">
    <interface name="org.jboss.test.webservice.jbws124.Hello"/>
  </service>

</configuration>

