<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <description>JACC delegation for unsecured resources</description>

   <!-- We secure a nonexistent part of the web app, so that the tomcat authenticators get installed. This allows for jacc delegation of all resources included in the web-app.  You do not have secure a nonexistent set of resources. You can secure a part of the webapp. Since this test webapp is very simple, we secure a non-existent set of resources. -->
   <security-constraint>
      <web-resource-collection>
         <web-resource-name>Resources requiring access over a
         secure transport</web-resource-name>
         <description>Declarative security tests</description>
         <url-pattern>/unrestricted/*</url-pattern>
         <http-method>HEAD</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
         <http-method>DELETE</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>*</role-name>
      </auth-constraint>
   </security-constraint>

   <login-config>
      <auth-method>BASIC</auth-method>
   </login-config>

   <security-role>
      <description>An AuthorizedUser is one with a valid username and password</description>
      <role-name>AuthorizedUser</role-name>
   </security-role>
</web-app>
