<?xml version="1.0" encoding="UTF-8"?>

<!--
   wscompile -cp ../../../../output/classes -gen:server -f:rpcliteral -keep -mapping jaxrpc-mapping.xml config.xml
-->

<configuration
  xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">

  <service name="MarshallRpcLitService"
    targetNamespace="http://org.jboss.webservice/marshalltest-rpclit"
    typeNamespace="http://org.jboss.webservice/marshalltest-rpclit/types"
    packageName="org.jboss.test.webservice.marshalltest">
    <interface name="org.jboss.test.webservice.marshalltest.MarshallEndpoint"/>
  </service>

</configuration>

